<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstName %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.LastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.Age %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.Password %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
